@import url("https://fonts.googleapis.com/css?family=Mountains+of+Christmas");

body {
  background-image: url(./assets/background.png);
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: "Mountains of Christmas";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
